<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息录入</title>
</head>
<body>
    <form action="/itzc/" method="post">
        <p>
            <label for="jqm">机器名：</label>
            <input id="jqm" type="text" name="jqm"  placeholder="机器名" />
        </p>
        <p>
            <label for="ipaddr">ip地址：</label>
            <input id="ipaddr" type="text" name="ipaddr" placeholder="ip地址" />
        </p>
        <p>
            <label for="user">管理员：</label>
            <input id="user" type="text" name="user" placeholder="管理员" />
        </p>
        <p>
            <label for="userpwd">管理员密码：</label>
            <input id="userpwd" type="password" name="userpwd" placeholder="管理员密码" />
        </p>
        <p>
            <label for="addr">地址：</label>
            <input id="addr" type="text" name="addr" placeholder="地址" />
        </p>
        <p>
             <label for="paydate">购买日期：</label>
            <input id="paydate" type="text" name="paydate" placeholder="购买日期" />
        </p>
        <p>
            <input type="submit" value="提交">
        </p>



    </form>
</body>
</html>